{% extends 'base.html' %} {% block content %}
<div>
    <h2 class="talk">Talk to Us!</h2>
    <h3 class="code">Code: {{ code }}</h3>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="message" name="message" id = "message"/>
        <button type="button" name="send"class="hello-3" id="messagess" onClick="sendMessage()">
          <iconify-icon icon="codicon:send" width="50" height="50" id="icon-1" style="color: white"></iconify-icon>
        </button>
        
    </div>
</div>

<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");

    const createMessage = (name, msg) => {
    const content = `
    <div class="container">
      <div class="text">
          <span class="mssg">
              ${name}: ${msg}
          </span>
          <span class="muted">
              ${new Date().toLocaleString()}
          </span>
      </div>
  </div>
    `;
    messages.innerHTML += content;
  }; 

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

</script>


{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.message}}");
</script>
{% endfor %} 
{% endblock %}