{% extends 'base.html' %}

{% block title %}Add Complaint Form{% endblock %}

{% block content %}
<div class="complaint-box">
    <p id="su">Submit a Complaint</p>
    <form method="POST">
      <div class="complaint-user-box">
        <label id="selett"for="complaint_type">Select Complaint Type:</label>
        <select id="complaint_type" name="complaint_type" required>
          <option value="" disabled selected>Select Complaint Type</option>
          <option value="electricity">Electricity</option>
          <option value="water">Water</option>
        </select>
      </div>
      <div id="complaint-textbox" style="display: none;">
        <div class="complaint-user-box">
          <textarea id="complaint_text" name="complaint_text" rows="4" cols="50" required></textarea>
          <label for="complaint_text">Complaint Text:</label>
        </div>
        <input type="submit" value="Submit Complaint" id="submitbtn-2">
      </div>
    </form>
</div>

<div class="user-complaints">
    <h2 id="headcom">Your Complaints</h2>
    <ul id="go">
        {% if user_complaints %}
            {% for complaint in user_complaints %}
                <li id="pr">
                    {{ complaint.complaint_text }}
                        <a id="ss" href="{{ url_for('complaint.accept_complaint', complaint_id=complaint.id) }}">Accept Complaint</a>   
                </li>
            {% endfor %}
        {% else %}
            <li>No complaints found.</li>
        {% endif %}
    </ul>
</div>

<script>
  document.getElementById('complaint_type').addEventListener('change', function() {
    var complaintType = this.value;
    if (complaintType !== '') {
      document.getElementById('complaint-textbox').style.display = 'block';
    } else {
      document.getElementById('complaint-textbox').style.display = 'none';
    }
  });
</script>
{% endblock %}
